.join-window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid #232428;
    border-radius: 20px;
    height: 300px;
    width: 500px;
    gap: 30px;
    margin-top: 25%;
    padding-top: 15px;
}

.join-window > input {
    height: 40px;
    width: 280px;
    font-size: 14px;
    padding-left: 8px;
}

.join-window > button {
    width: 65px;
    height: 40px;
    background-color: aliceblue;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 15px;
}

.join-window > button:hover {
    background-color: rgba(0, 0, 0, 0.567);
    color: white;
}